@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header_wrapper {
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    padding: 15px 190px;
}

.navigation{
    display: flex;
    align-items: center;
}

.nav_list {
    display: flex;
    list-style: none;
}

.nav_list > li {
    margin-right: 28px;
    cursor:pointer;
}

.logo {
    margin-left: 100px;
    cursor:pointer;
}

.links {
    margin-left: auto;
    cursor:pointer;
}

.links img {
    margin-right: 15px;
}

.main-page {
    height: calc(100vh - 58px);
    background-color: #F0EFEB;
    display: flex;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 190px;
    margin-right: 50px;
}

.guides {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}

.guides-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

}

.title {
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 40px;
}

.text {
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 30px;
}

.button {
    background: #000;
    border-radius: 100px;
    height: 36px;
    width: 130px;
    color: #fff;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    border:none;
    cursor:pointer;
}

.main-image{
    width: 599px;
    height: 521px;
    align-self: center;
}

.guides-title {
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 27px;
}

.guides-text {
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 47px;
    text-align: center;
}

.guides-text-2 {
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 88px;
}

.guides-title-2 {
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 52px;
}

.guides-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.guides-image {
    align-self: center;
    width: 310px;
    height: 420px;
    margin-bottom: 20px;
}

.guides-price {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    
}

.information-text {
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 17px;
    text-align: center;
}

.information-price {
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 10px;
}

.information-add-to-cart {
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-decoration-line: underline;
    cursor:pointer;
}



.people {
    height: 100vh;
}